# STM32 build
Debug/
Release/
*.elf *.bin *.hex *.map *.list *.o *.d
.settings/ *.launch *.log

# VS Code
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Research data
Sleep_recognition_hr/data/raw/
Sleep_recognition_hr/data/processed/
Sleep_recognition_openCV/data/raw/
Sleep_recognition_openCV/data/processed/
models/
